div.col
    h4 #{data.hardware.mobo.section}
    table.table.table-borderless
        tbody
            each val, key in data.hardware.mobo.stats
                tr
                    th #{key.charAt(0).toUpperCase()+key.substring(1)}:
                    td #{val}